{
  "extends": ["standard", "prettier"],
  "plugins": ["standard", "prettier"],
  "env": {
    "mocha": true
  },
  "globals": {
    "DEBUG": true,
    "graphql": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "printWidth": 120,
        "semi": false,
        "singleQuote": true
      }
    ],
    "no-multi-spaces": 0,
    "yoda": 0,
    "jsx-quotes": 0
  }
}
